<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc_libo.broadstcastreceiver" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:persistent="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="SecondActivity"></action>
            </intent-filter>
        </activity>
        <!-- 注册自定义静态广播接收器 -->
        <receiver android:name=".StaticReceiver">
            <intent-filter>
                <action android:name="com.byread.static" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>
        <!-- 注册系统静态广播接收器 -->
        <receiver android:name=".SystemReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyService"
            android:process=":ownprocess"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.example.pc_libo.Myservice"></action>
            </intent-filter>
        </service>

        <!-- 开机广播接受者 -->
        <receiver android:name="com.example.pc_libo.bootComplete.BootCompleteReceiver">
            <intent-filter>
                <!-- 注册开机广播地址-->

                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </receiver>
        <!-- 消息推送服务 -->
        <service android:name="com.example.pc_libo.bootComplete.MsgPushService"/>
    </application>

</manifest>
